  {{ form_start(form,{'attr': {'role':'form','id':'uploadForm', 'name':'frmupload'}}) }}


	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.usertype) }}</label>
		{{ form_widget(form.usertype,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.label) }}</label>
		{{ form_widget(form.label,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>


	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.description) }}</label>
		{{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	
    <div class="form-group ">
        <label class="control-label no-padding-right">{{ form_label(form.attachment) }}</label>
        {{ form_widget(form.attachment,{'attr':{'class':'demoInputBox','id':'userImage'}}) }}
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group ">
        <label class="control-label no-padding-right">{{ form_label(form.active) }}</label>
        {{ form_widget(form.active,{'attr':{'class':''}}) }}
        <div class="help-block with-errors"></div>
    </div>

		{% if not button_label is defined  %}
			<button class="btn btn-info">{{ button_label|default('Save') }}</button>
			<button class="btn  btn-warning " style="margin-right:20px;" type="reset">{% trans %}Reset{% endtrans %} </button>

		{% else %}
			<input type="hidden" name="edit" value="{{edit}}">
			<a href="{{ path('help_index') }}" class="btn btn-primary">
				{% trans %}Cancel{% endtrans %}
			</a>
     <button class="btn btn-success mr-2">{{ button_label|default('Save' | trans) }}</button>
 		{% endif %}


  {# <div id="progress-div"><div id="progress-bar"></div></div>
 <div id="targetLayer"></div> #}

{{ form_end(form) }}

{# <div id="loader-icon" style="display:block;"><img src="{{ asset('images/LoaderIcon.gif') }}" /></div> #}

 


 