{% extends "anon-base.html.twig" %} 

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block stylesheet %}
<link href="{{asset('assets/plugins/owlCarousel/dist/assets/owl.carousel.min.css')}}" rel="stylesheet"/>
<link href="{{asset('assets/plugins/owlCarousel/dist/assets/owl.theme.default.min.css')}}" rel="stylesheet"/>
<link href="{{asset('student/css/temp.css')}}" rel="stylesheet"/>

    <style>
        .header{
            margin-bottom: 0px;
        }
        
        .card-footer {
            padding: .3rem 1rem;
            display: none;
        }

        .card-body p a{
            color: rgb(9, 49, 70);
        }
        
        .card:hover .card-footer {
            display: contents;
        }

        section.section{
            background-image: url('/images/robot-2.jpg'); 
            background-size: cover; 
            background-position: center; 
            animation-duration: 750ms; 
            animation-delay: 300ms; 
            animation-fill-mode: 
            forwards; min-height: 415px; 
        }

        body {
            --article-load-delay: 300ms
        }

        article{
            line-height: 28px;
            font-family: poppins;
        }

        article h1 {
            color: white;
            animation: article-load 300ms ease-in var(--article-load-delay);
            animation-fill-mode: forwards;
            transform: translateY(-20px);
            opacity: 0;
        } 

        article p {
            color: white;
            animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
            animation-fill-mode: forwards;
            transform: translateY(-20px);
            opacity: 0;
        }

        @keyframes article-load {
            0% {
                transform: translateY(-20px);
                opacity: 0;
            }

            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }



    </style>
{% endblock %}
{% block selected %}<span id="num"></span>{% endblock %}
{% block body %}

    <div class="test">
        
    </div>
    <div class="jumbotron jumbotron-fluid bg-white">
        <section class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0">
					<div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-light" style="padding: 0;"></div>
					<div class="container pt-lg-3">
						<div class="row pt-3 pb-lg-0 pb-xl-0">
							<div class="col-lg-6 pt-4 mb-5 mb-lg-0">
								<article>
                                    <h1>Main Story</h1>
                                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum vitae qui quia, vel adipisci explicabo sit molestias, quaerat dolorem amet, provident tempora quas impedit unde distinctio aliquam. Facilis rerum, natus deleniti nulla qui placeat rem accusamus provident odit vero. Maiores assumenda dolor corrupti expedita optio incidunt nihil fugit accusamus voluptates!</p>
                                </article>
							</div>
						</div>
					</div>
				</section>
                </div>
    </div>
    <br>
   {% include "course/list.html.twig" %}
{% endblock %} 

{% block nav %}
    <a class="nav-item nav-item-temp btn btn-primary btn-sm" style="color:white" href="{{ path('app_login') }}">
        {% trans %}Sign In{% endtrans %}
    </a> 
{% endblock %}
{% block javascript %}
    <script src="{{asset('assets/plugins/owlCarousel/dist/owl.carousel.min.js')}}"></script>
    <script>
        var selected_courses = [];
        total_selected = 0;
        $(document).ready(function(){
            var json_str = getCookie('selected_courses');
            var arr = JSON.parse(json_str);
            cookie_length = arr.length;
            if(cookie_length > 0){
                for(i=0; i<cookie_length; i++){
                    
                    $("button[course-id="+arr[i]+"]").parent().parent().addClass("selected-card");
                    $("button[course-id="+arr[i]+"]").css("background-color", "#F44336");
                    $("button[course-id="+arr[i]+"]").text("Remove from my Courses");
                    selected_courses.push(arr[i]);
                    title = $(".card[card-id="+arr[i]+"]").parents().eq(5);
                    $("#num").html(++total_selected);
                }
            }
        });
        
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                nav: true,
                margin: 10,
                items : 1, // THIS IS IMPORTANT
                responsive : {
                        480 : { items : 1  }, // from zero to 480 screen width 4 items
                        768 : { items : 2  }, // from 480 screen widthto 768 6 items
                        1024 : { items : 3   // from 768 screen width to 1024 8 items
                        }
                    },
                autoWidth: false,
                navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>']

            });
        });

        $(".enroll").on("click", function(){
            tt = $(this).parents().eq(5);
            tt.prev().text();
            course_name = $(this).attr("course-id");
            if(selected_courses.includes(course_name)){
                $(this).text("{% trans %}Added to my Courses{% endtrans %} ");
                $(this).css("background-color", "#093146");

                index = selected_courses.indexOf(course_name);
                if (index > -1) {
                    selected_courses.splice(index, 1);
                }
                $("#num").html(--total_selected);
                var json_str = JSON.stringify(selected_courses);
                eraseCookie('selected_courses');
                setCookie('selected_courses', json_str,1);
                $(this).parent().parent().removeClass("selected-card");
                var json_str = getCookie('selected_courses');
                var arr = JSON.parse(json_str);
            }
            else{
                $(this).text(" {% trans %}Remove from my Courses{% endtrans %} ");
                $(this).css("background-color", "#F44336");
                selected_courses.push(course_name);
                $("#num").html(++total_selected);
                var json_str = JSON.stringify(selected_courses);
                setCookie('selected_courses', json_str,1);
                $(this).parent().parent().addClass("selected-card");
                var json_str = getCookie('selected_courses');
                var arr = JSON.parse(json_str);
            }
        });

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString())+"; path=/;";
            document.cookie = c_name + "=" + c_value;
        }

        function getCookie(c_name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }

        function eraseCookie(name) {   
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }


    </script>
{% endblock %}  