<div class="card px-5 pt-3 mt-1" style="padding-bottom: 80px">
				<h4 class="pt-2 pb-2" style="color:#093146">{{courses.name}}</h4>
				<p style="margin-bottom: 40px">{{courses.description}}</p>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" >
					<li class="nav-item">
						<a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">{% trans %}Chapters{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab2" role="tab" data-toggle="tab">{% trans %}Instructor{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#tab3" role="tab" data-toggle="tab">Q&A</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade show active" id="tab1">

						<div class="mt-5">
							{% set flag = 0 %}
							{% for content in chapters %}
								{% if content.chapter.id == flag %}
									{% if content.filename != null %}
										<li data-type="{{content.id}}" content="filename">
											<i class="fas fa-play"></i>
											{{ content.title }}
										</li>
									{% elseif content.videoLink != null %}
										<li data-type="{{content.id}}" content="youtube">
											<i class="fas fa-play-circle"></i>
											{{ content.title }}
										</li>
									{% elseif content.content != "" %}
										<li data-type="{{content.id}}" content="doc">
											<i class="fas fa-book"></i>
											{{ content.title }}
										</li>
									{% endif %}
								{% else %}
									{% if flag != 0 %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{% set flag = content.chapter.id %}
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{content.chapter.id}}" aria-expanded="true" aria-controls="collapseOne">
									{{ content.chapter.chapter }}
								</button>
							</h5>
						</div>

						<div id="collapse{{content.chapter.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<ul class="list list-icons list-icons-style-1">
									{% if content.filename != null %}
										<li data-type="{{content.id}}" content="filename">
											<i class="fas fa-play"></i>
											{{ content.title }}
										</li>
									{% elseif content.videoLink != null %}
										<li data-type="{{content.id}}" content="youtube">
											<i class="fas fa-play-circle"></i>
											{{ content.title }}
										</li>
									{% elseif content.content != "" %}
										<li data-type="{{content.id}}" content="doc">
											<i class="fas fa-book"></i>
											{{ content.title }}
										</li>
									{% endif %}


								{% endif %}
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
	<div role="tabpanel" class="tab-pane fade show" id="tab2">{% trans %}Instructor{% endtrans %} .....</div>
	<div role="tabpanel" class="tab-pane fade show" id="tab3"></div></div></div>