{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}
{% block breadcrumbhome %}password{% endblock %}
{% block breadcrumbcontent %}change{% endblock %}
{% block stylesheet %}
    <style>
        .card{
            margin: 0px auto;
        }

        .card-body{
            padding-top: 0px;
        }

        label{
            padding: 21px 0px 2px;
        }
    </style>
{% endblock %}
{% block body %}
   <div class="container" style="min-height:500px;">
        <div class="row">
        <div class="col"></div>
        <div class="col-sm-9">
            <div class="card pb-5 pt-2 px-5 bg-white" style="width: 700px;">
                <div class="card-header">
                     <center><p class="pt-2">            
                        <h4 style="color: black"> {% trans %}Change password {% endtrans %}</h4>
                    </center>
                </div>
                <div class="card-body">
                    <p style="color:red">
                        {% if error != "" %}
                            {{error}}
                        {% endif %}
                    </p>  

                    {{ form_start(form,{'attr':{'id':'form'}}) }}
                    {{ form_widget(form)}}
                    <input type="submit" class='btn btn-primary' style="margin-top: 20px" value={{"Change Password"| trans | raw}}>
                    {{ form_end(form)}}
                </div>
            </div>
            </div>
            <div class="col"></div>
        </div>  
   </div>
{% endblock %}
{% block javascripts %}
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script> #}
    <script>
        var isValid = false;
        const validateEmail = (input) => {
        return input.match(
                /^(?=(.*[a-z]){1,})(?=(.*[A-Z]){1,})(?=(.*[0-9]){1,})(?=(.*[!@#$%^&*()\-__+.]){1,}).{8,}$/
            );
        };

        const validate = () => {
            const input = $('#password_change_plainPassword_first');

            $inputParent = input.parent();
            $inputParent.find("p").remove();
            $result = $("<p></p>");
            if (validateEmail(input.val())) {
                isValid = true;
            } else {
                isValid = false;
                $result = $("<p></p>");
                $inputParent.append($result);
                $result.text("Your password must be at least 8 characters long, contain at least one number, at least one special character(!@#$%^&*()\-_+) and have a mixture of uppercase and lowercase letters.")
                $result.css('color', 'red');
            }
            return false;
        }

        const validate1 = () => {
            const input = $('#password_change_plainPassword_second');

            $inputParent = input.parent();
            $inputParent.find("p").remove();
            $result = $("<p></p>");
            $inputParent.append($result);
            if (validateEmail(input.val())) {
                isValid = true;
            } else {
                isValid = false;
                $result.text("Your password must be at least 8 characters long, contain at least one number, at least one special character(!@#$%^&*()\-_+) and have a mixture of uppercase and lowercase letters.")
                $result.css('color', 'red');
            }
            return false;
        }
        $('#password_change_plainPassword_first').on('blur', validate);
        $('#password_change_plainPassword_second').on('blur', validate1);

        $("form").on("submit", function(e){
            newPasword = $('#password_change_plainPassword_first').val();
            repeatPassword = $('#password_change_plainPassword_second').val();

            if(newPasword.localeCompare(repeatPassword) != 0)
            {
                isValid = false;
            }

            if(!isValid)
            {
                e.preventDefault();
            }
        });

    </script>
{% endblock %}
