<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: url("/images/background-print.jpg");
        }
        .graph-image img {
            display: none;
        }
        @media print {
            .graph-image img {
                display: inline;
            }
        }
        
        body {
            background-image: url("/images/background-print.jpg") no-repeat center center fixed;
            background-size: auto;
            -o-background-size: cover;
            background-size: cover;
        }
        
        @media print {
            @page {
                size: A4 landscape;
                margin: 0;
                padding: 0;
            }
            body {
                background-image: url("/images/background-print.jpg") ;
                background-size: auto;
                -o-background-size: cover;
                background-size: cover;
            }
            html,body{
                margin:0px;
                padding: 0px;
            }
            .card {
                margin: 370px 0px 0px 600px;
                width: 100%;
                font-size: 40px;
            }

            p{
                width: 900px;
            }
            a{
                font-size: 14px;
            }
        }
    </style>
</head>

<body onload="window.print()">
    <div class="card">
        <h2 style="padding:5px 50px">
            {{student_course.student.user.firstName}}
            {{student_course.student.user.middleName}}
            {{student_course.student.user.LastName}}
        </h2>
        <hr>

        <p> has successfully completed the training on the course of</p> 
        <h4> {{student_course.instructorCourse.course.name }} </h4>
        <p> and awarded this qualification with <b>Distinction</b> on <br> {{ 'now'|date('M d, Y') }}</p>
    </div>
    <img src="data:image/png;base64,{{student_course.qrCode}}" style="margin-left: 60px">
    <p><a style="color:white; font-size: 20px;margin-left:40px"; href="#">{{student_course.qrUrl}}</a></p>
</body>

</html>