<div class="card card-info">
	<div class="card card-header">
		<h3> Quiz Question Details</h3>
	</div>
	<div
		class="card card-body">
		  {{ form_start(form,{'attr': {'role':'form'}}) }}


		<div class="form-group ">
			<label class="control-label no-padding-right">{{ form_label(form.question) }}</label> {{ form_widget(form.question,{'attr':{'class':'form-control','rows':'4'}}) }}
			<div class="help-block with-errors"></div>
		</div>


			<table style="width:100%" id="mytable" class="authors-list">

			<tbody>
				<tr>
					<td>A  &nbsp; &nbsp;
						<input type="radio" name="answer" value="A" checked>
					</td>

					<td>
						<div class="form-group">
							<textarea name="A" class="form-control"  rows="3" required></textarea>


							{# <input type="text" name="A" class="form-control" maxlenght="255" required/> #}
						</div>
					</td>


				</tr>
				<tr>
					<td>B   &nbsp; &nbsp;
						<input type="radio" name="answer" value="B">
					</td>

					<td>
						<div class="form-group">
						<textarea   name="B" class="form-control"  rows="3" required></textarea>
							{# <input type="text" name="B" class="form-control" maxlenght="255" required/> #}
						</div>
					</td>


				</tr>
			</tbody>

		</table>
		<a href="#" title="" class="add-author btn btn-info " id="dynamic">
			<span class="fa fa-plus"></span>
		</a>
		<a   title="" class="btn btn-danger " >
			<span class="fa fa-minus" onclick="removelastrow()"></span>
		</a>
		<br>


		<hr>
		{# <div class="form-group ">
			<label class="control-label no-padding-right">{{ form_label(form.answer) }}</label> {{ form_widget(form.answer,{'attr':{'class':'form-control','required':'required'}}) }}
			<div class="help-block with-errors"></div>
		</div> #}
		<button class="btn btn-primary mt-2">{{ button_label|default('Save') }}</button> {{ form_end(form) }}


	</div>
</div>
