{# {{ form_start(form) }} {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button> {{ form_end(form) }} #}


<div class="card card-info">
	<div class="card card-header">
		<h3>Enter Course details</h3>
	</div>
	<div class="card card-body"> {{ form_start(form) }}


		<div class="form-group">
			<label for="name">Question</label> {{ form_widget(form.question,{'attr':{'class':'form-control'}}) }}
		</div>

		<div class="form-group">
			<label for="nameAm">Answer</label> {{ form_widget(form.answer,{'attr':{'class':'form-control'}}) }}
		</div>

		{# choices here. #}
		 <table style="width:100%" id="mytable" class="authors-list">

        <tbody>
			<tr>
				 <td>A</td>
				 
				<td>
					<div class="form-group">
						<input type="text" name="optiona" class="form-control" maxlenght= "255"/>
					</div>
				</td> 

                
			</tr>
        </tbody>

		</table> 
	<a href="#" title="" class="add-author btn btn-info "><span class="fa fa-plus"></span></a> <br>

		<button class="btn btn-primary mt-2">{{ button_label|default('Save') }}</button> {{ form_end(form) }}


	</div>
</div>
 










