{% extends 'base.html.twig' %}

{% block title %}Edit Quiz Questions
{% endblock %}
{% block breadcrumbhome %}
    <a href="{{path('quiz_index',{'id':quiz_question.quiz.id})}}">
	   {% trans %}Quiz{% endtrans %} 
	</a> / 
	 <a href="{{path('quiz_questions_index',{'id':quiz_question.quiz.id})}}">
	   {% trans %}Questions{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}Edit{% endtrans %}{% endblock %}

{% block body %} {{ include('quiz_questions/_form.html.twig', {'button_label': 'Update'}) }}
	{# {% set descriptions = [] %}
		 {% for choice in quiz_question.quizChoices %}
		    {% set id = choice.id %}
		    {% set items = {'letter': choice.letter, 'description': choice.description} %}
		    {% set descriptions = descriptions|merge({(id):items}) %}
		{% endfor %}  #}

	{# <a href="{{ path('quiz_questions_index') }}">back to list</a> #} {{ include('quiz_questions/_delete_form.html.twig') }}
{% endblock %}

	{% block javascripts %}

		<script>
$('tr').remove();
var descriptions = {{ choicelist | raw }}
var answ = "{{ answer }}";
var counter = 0;


for (var i = 0; i < descriptions.length; i++) {
var letter = descriptions[i].letter;
var desc = descriptions[i].description;
var ans
var temp = null;
if (answ == letter) {
temp = "checked";
}
var del = '';

if (counter > 1) {
var del = '<td><a   class="btn btn-xs"> <span class="fa fa-trash" style="color:red;" onclick="removerow(this)"></span> </a></td>';
}
var newRow = jQuery('<tr><td>' + letter + '&nbsp;&nbsp;<input type="radio" name="answer" value="' + letter + '" ' + temp + '></td><td><div class="form-group"> <textarea id="' + letter + '" name="' + letter + '" class="form-control"  rows="3"  required>' + desc + '</textarea></div></td>' + del + '</tr>');
jQuery('table.authors-list').append(newRow);

counter++;

}


jQuery('a.add-author').click(function (event) {
event.preventDefault();

if (counter == 9) {
document.getElementById("dynamic").style.background = 'red';

}
if (counter > 9) {
document.getElementById("dynamic").style.background = 'red';

alert("Maximum number reached");
} else {


var newRow = jQuery('<tr><td>' + getChars(counter) + '&nbsp;&nbsp;<input type="radio" name="answer" value="' + getChars(counter) + '"></td><td><div class="form-group"> <textarea id="' + getChars(counter) + '" name="' + getChars(counter) + '" class="form-control"  rows="3"  required></textarea></div></td><td><a   class="btn btn-xs"> <span class="fa fa-trash" style="color:red;" onclick="removerow(this)"></span> </a></td></tr>');
jQuery('table.authors-list').append(newRow);
} counter++;
});

function removerow(x) {
x.parentNode.parentNode.parentNode.remove();
counter--;
}
	</script>


		<script>


function getChars(x) {
var arr = [
'',
'B',
'C',
'D',
'E',
'F',
'G',
'H',
'I',
'J'
];
return arr[x];
}
</script>{% endblock %}
