{% extends 'base.html.twig' %}
 



{% block body %}

   <div class="card card-info">
        <div class="card card-header">
        <h3>System Setting list</h3>
        </div>
        <div class="card card-body">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                {# <th>Code</th> #}
                <th>Value</th>
                <th>Description</th>
              
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for system_setting in system_settings %}
            <tr>
                <td>{{ system_setting.id }}</td>
                <td>{{ system_setting.code }}</td>
                {# <td>{{ system_setting.code }}</td> #}
                <td>{{ system_setting.value }}</td>
                <td>{{ system_setting.description }}</td>
           
                <td>
                    <a href="{{ path('system_setting_edit', {'id': system_setting.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
        </div>



 
    {# <a href="{{ path('system_setting_new') }}">Create new</a> #}
{% endblock %}