{% extends 'base.html.twig' %}

{% block title %}{% trans %}Country index{% endtrans %}{% endblock %}

{% block body %}
<a href="{{ path('country_new') }}" class="btn btn-success mb-2"><span class="fa fa-plus"></span> {% trans %}Create new{% endtrans %}</a>

        <div class="card card-info">
        <div class="card card-header">
    <h3>{% trans %}Country index{% endtrans %}</h3>
    </div>

    
    <div class="card card-body">
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for country in countries %}
        <tr>
            <td>{{ country.id }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.description }}</td>
            <td>
                <a href="{{ path('country_show', {'id': country.id}) }}">{% trans %}Show{% endtrans %}</a>
                <a href="{{ path('country_edit', {'id': country.id}) }}">{% trans %}Edit{% endtrans %}</a>
            </td>
        </tr>
    {% else %} 
        <tr>
            <td colspan="4">{% trans %}No records found{% endtrans %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    </div>

  

{% endblock %}
