{% extends 'base.html.twig' %}

{% block title %}
{% trans %}Content{% endtrans %} index
{% endblock %}
{% block breadcrumbhome%} 
	<a href="{{path('instructor_course_chapter_index')}}">
	   {% trans %}Course{% endtrans %} 
	</a>
{% endblock %}
{% block breadcrumbcontent%} index{% endblock %}
{% block backbtn %}<a href="{{ path('instructor_course_chapter_index') }} " class="btn btn-info">{% trans %}back to course{% endtrans %}</a>{% endblock %}


{% block body %}

	<div class="card card-info">
		<div class="card card-header">
			 <div class="row">
            <div class="col-md-6">
                <h3>{% trans %}content list{% endtrans %}</h3>
            </div>
            
            <div class="col-md-6">
               {# <a href="{{ path('studentlesson', {'id': 1}) }}" class="btn btn-primary" style="float:right">View as amsalu </a> #}
               <a href="{{ path('content_new', {'id': incrsid}) }}" class="btn btn-primary" style="float:right">{% trans %}add content{% endtrans %} </a>
            </div>
        </div>

		</div>
		<div class="card card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
					
						<th style="width:50%">Title</th>
						{# <th>Content</th> #}
						{# <th>videoLink</th> #}
							<th>{% trans %}Chapter{% endtrans %}</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for content in contents %}
						<tr>
							<td>{{ content.id }}</td>
						
							<td>{{ content.title }}</td>
							{# <td>{{ content.content }}</td> #}
							{# <td>{{ content.videoLink }}</td> #}
								<td>{{ content.chapter }}</td>
							<td>
								<a href="{{ path('content_show', {'id': content.id}) }}" class="btn btn-sm btn-primary">show</a>
								<a href="{{ path('content_edit', {'id': content.id}) }}" class="btn btn-sm btn-warning">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>
		<div class="  pagination justify-content-center ">
			{{ knp_pagination_render(contents) }}</div>

		<div class="float-right pl-5 pb-2">
			 
				Total result:
				{{ contents.getTotalItemCount }} 
		</div>


	</div>

	{# <div class="btn-group">
		<button type="button" class="btn btn-success">Add Next Page Content</button>
		<button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<div class="dropdown-menu" role="menu" style="">
			<a class="dropdown-item" href="{{ path('content_new', {'id': 1}) }}">Add video or html content</a>
			<a class="dropdown-item" href="{{ path('content_new', {'id': 2}) }}">Add resource files</a>
		</div>
	</div>#}

	{# <div class="btn-group">
	<a href="{{ path('studentlesson', {'id': 1}) }}" class="btn btn-block btn-primary">{% trans %}add content{% endtrans %}  </a>
	</div> #}

{# 	
	<div class="btn-group"> 


		<a href="{{ path('studentlesson', {'id': 1}) }}" class="btn btn-block btn-primary">{% trans %}add content{% endtrans %} </a>
		<a href="{{ path('studentlesson', {'id': 1}) }}" class="btn btn-block btn-primary">Viewasstd</a>

	</div> #}

	{# <a href="{{ path('content_new') }}"></a> #}
{% endblock %}
