{% extends 'base.html.twig' %}

{% block title %}Content index
{% endblock %}
{% block breadcrumbhome %}
	<a href="{{ path('content_index',{'id': incrsid}) }} ">
	   {% trans %}Content{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}Student View{% endtrans %}{% endblock %}
{% block body %}

	{% for content in contents %}
		<div class="card card-info">
			<div class="card card-header">Video Tutorial
			</div>
			<div class="card card-body">

				{% if isVideo %}

					<video width="100%" height="557" controls>
						{% set thefile = 'http://localhost/uploads/resources/'~ content.filename %}
						<source src="{{thefile}}" type="video/mp4">
					</video>

				{%  elseif content.videoLink %}
					{# link1 = https://www.youtube.com/embed/y881t8ilMyc
						link2 = http://www.youtube.com/embed/W7qWa52k-nE #}

					{# <object data="{{ content.videoLink }}" width="100%" height="557"></object> #}<iframe width="100%" height="557" src="{{content.videoLink}}" frameborder="0" allowfullscreen> </iframe>

				{% endif %}


				<div class="  pagination justify-content-center " id="main-pagination">
					{{ knp_pagination_render(contents) }}</div>


					<div class="row">
						<div class="col-md-3">
							<a href="/" class="btn  btn-primary float-left " id="prev">
								<span class=" fa fa-arrow-alt-circle-left"></span>
								Previous</a>
						</div>
						<div class="col-md-6"></div>
						<div class="col-md-3">
							<a href="/" class="btn btn-primary float-right" id="next">Next
								<span class=" fa fa-arrow-alt-circle-right"></span>
							</a>
						</div>
					</div>
				</div>

		</div>


		<div class="card card-primary card-outline">
			<div
				class="card-header">{# <h3 class="card-title"><i class="fas fa-edit"></i>Tabs Custom Content Examples
								</h3> #}
			</div>
			<div
				class="card-body">
				{# <h4>Custom Content Below</h4> #}
				<ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Details</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Conversations</a>
					</li>

				</ul>
				<div class="tab-content" id="custom-content-below-tabContent">
					<div class="tab-pane fade active show" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
						{{ content.content }}
					</div>
					<div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
						Any conversation regarding courses will be here.
					</div>

				</div>


			</div>
			<!-- /.card -->
		</div>
	{%  endfor %}
{% endblock %}
{% block javascripts %}
	<script>
		// listItems = $("#productList").find("li");
/*var listItems = $(".main-pagination nav ul li");
listItems.each(function (idx, li) {
var list = $(li);
list.style.display="none";


$('#myUlID li').each(function() {
  console.log($(this));
})



 });*/
// $(".page-item").style.display="none";

$(document).ready(function () {
var pages = document.getElementsByClassName("page-item");
var last = pages.length;
// var lis = document.querySelectorAll('#main-pagination nav ul');
for (var i = 0; i <= pages.length; i++) {
if (i == 0 || i == pages.length - 1) {
var a = pages[i].querySelector('a');

/*if(a===null || a===undefined)
{console.log(a);
document.getElementById("next").style.display = "none;";
}
else 
{
}*/
if (a !== null) {
href = a.href;
if (i == 0) {
document.getElementById("prev").href = href;
} else {


document.getElementById("next").href = href;

}
} else {


if (i == 0) {
document.getElementById("prev").classList.add("disabled");
} else {


document.getElementById("next").classList.add("disabled");
}


}


}

pages.item(i).innerHTML = "";


}


});
	</script>
{% endblock %}
