
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit{% endtrans %} Chapter{% endblock %}
{% block breadcrumbhome %}
    <a href="{{path('instructor_course_chapter_index',{'id':instructor_course_chapter.id})}}">
	   {% trans %}Course{% endtrans %} 
	</a> /
     <a href="{{path('instructor_course_chapter_content_list',{'id':instructor_course_chapter.instructorCourse.id})}}">
	   {% trans %}Chapter{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}edit{% endblock %}
{% block body %}
    {{ include('instructor_course_chapter/_form.html.twig', {'button_label': 'Update','class': 'form-control'}) }}
    <table>
    <td>
        <a href="{{ path('instructor_course_chapter_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </td><td>
    {{ include('instructor_course_chapter/_delete_form.html.twig') }}
    </td></table>
{% endblock %}
