{% extends 'base.html.twig' %}

{% block title %}
    InstructorCourseChapter index
    
{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('instructor_course_chapter_index') }} ">
        {% trans %}
        My Courses
        {% endtrans %}
    </a>
{% endblock %}
{% block breadcrumbcontent %}
    chapters
    
{% endblock %}
{% block backbtn %}
    <a href="{{ path('instructor_course_chapter_index') }} " class="btn btn-info">
        Back to cource
    </a>
{% endblock %}

{% block body %}





    <hr>
        <div class="card card-info">
            <div class="card card-header">
                <div class="row">
                    <div class="col-md-6 ">
                        <h3>
                            {{ instructor_course.course | capitalize }}
                            course chapters list
                        </h3>
                    </div>

                    <div class="col-md-6">
					{% if is_granted('chapter_create') %}
					
                        <a href="{{ path('instructor_course_chapter_new', {'id': instructor_course.id }) }}" class="btn btn-primary" style="float:right">
                            {% trans %}
                            add chapter
                            {% endtrans %}
                        </a>
					{% endif %}
                    </div>
                </div>
            </div>

            <div class="card card-body">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            {# <th>Chapter</th> #}
                            <th>
                                {% trans %}Chapter{% endtrans %}
                            </th>
                            <th>
                                {% trans %} Created at {% endtrans %}
                            </th>
							{% if is_granted('chapter_edit') %}
                            <th>
                               {% trans %} Actions {% endtrans %}
                            </th>
							{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for instructor_course_chapter in instructor_course_chapters %}
                            <tr>
                                <td>
                                    {{loop.index }}
                                </td>
                                {# <td>{{ instructor_course_chapter.chapter }}</td> #}
                                <td>
                                    {{ instructor_course_chapter.topic }}
                                </td>
                                <td>
                                    {{ instructor_course_chapter.createdAt ? instructor_course_chapter.createdAt|date('Y-m-d H:i:s') : '' }}
                                </td>
								{% if is_granted('chapter_edit') %}
                                <td>
								
                                    <a class="btn btn-sm btn-success" href="{{ path('instructor_course_chapter_edit', {'id': instructor_course_chapter.id}) }}">
                                        <span class="fa fa-edit"></span>
                                        {% trans %}Edit{% endtrans %}
                                    </a>
									
                                </td>
						 {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    {% trans %}no records found{% endtrans %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
    



