{% extends 'base.html.twig' %}

{% block title %}Course assignement
{% endblock %}
{% block breadcrumbcontent %}
	Course assignement
{% endblock %}
{% block body %}
	{# <a href="{{ path('instructor_course_new') }}" class="btn btn-success mb-4">Re use course</a> #}

	<div class="card card-info">
		<div class="card card-header">
			<h3>Course assignement</h3>
		</div>
		<div class="card card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Course</th>
						<th>Instructor</th>
						<th>Assign date</th>
						<th>Status</th>
						<th>Active</th>
						<th>Students</th>
						 
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for instructor_course in instructor_courses %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ instructor_course.course | capitalize}}</td>
							{% if instructor_course.instructor %}
								<td>{{ instructor_course.instructor.user.firstName ~ ' ' ~ instructor_course.instructor.user.middleName ~ ' ' ~ instructor_course.instructor.user.lastName }}</td>
							{% else %}
								<td></td>
							{% endif %}

							<td>{{ instructor_course.createdAt ? instructor_course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								{{ instructor_course.status }}</td>
							<td>
								{{ instructor_course.active ? "YES" : "NO" }}</td>

							<td>
								<a href="{{ path('students_in_course',{id:instructor_course.id}) }}">
									<span class="badge badge-success">
										&nbsp;
										{{ instructor_course.studentCourses | length  }}
										&nbsp;</span>
								</a>
								

							</td>
							<td>
								<a href="{{ path('instructor_course_chapter_content_list', {'id': instructor_course.id}) }}" class="btn btn-primary btn-sm">
									<span class="fa fa-plus"></span>
									Chapters
								</a>
								<a href="{{ path('content_index', {'id': instructor_course.id}) }}" class="btn btn-success btn-sm">
									<span class="fa fa-plus"></span>
									Contents
								</a>
							 
								<a href="{{ path('quiz_index', {'id': instructor_course.id}) }}" class="btn btn-success btn-sm">
									<span class="fa fa-plus"></span>
									Quiz
								</a>
							 

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
