{% extends 'base.html.twig' %}

{% block title %}{% trans %}Course assignement {% endtrans %}
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}Course list{% endtrans %}
{% endblock %}
{% block stylesheets %}
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	</style>
{% endblock %}
{% block body %}
	{# <a href="{{ path('instructor_course_new') }}" class="btn btn-success mb-4">Re use course</a> #}

	<div class="card card-info">
		<div class="card card-header">
			<h3>{% trans %}Course assignement {% endtrans %}</h3>
		</div>



		<div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Course content summary</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          
			 <table id="rep">
				<thead>
				  <th>#</th>
				  <th>Chapter</th>
				  <th>Content</th>
				  <th>Quiz</th>
				</thead>
				
			  </table> 




            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              {# <button type="button" class="btn btn-primary">Save changes</button> #}
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->





		<div class="card card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>{% trans %}Course{% endtrans %}</th>
						{# <th>Instructor</th> #}
						<th>{% trans %}Assign date{% endtrans %}</th>
						{# <th>Status</th> #}
						{# <th>Active</th> #}
						<th>{% trans %}Students{% endtrans %}</th>
							{% if is_granted('chapter_list') or is_granted('content_list') or is_granted('quiz_list') %}

						<th>{% trans %}Actions{% endtrans %}</th> 
							{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for instructor_course in instructor_courses %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ instructor_course.course | capitalize}} 
							<span data-toggle="modal" data-target="#modal-xl" class="badge badge-info" id="rpt" onclick="generateReport({{instructor_course.id}})">Report</span>
						

						 


						</td>



							<td>{{ instructor_course.createdAt ? instructor_course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							{# <td> {{ instructor_course.status }}</td> #}
							{# <td> {{ instructor_course.active ? "YES" : "NO" }}</td> #}

							<td>
								<a href="{{ path('students_in_course',{id:instructor_course.id}) }}">
									<span class="badge badge-success">
										&nbsp; {{ instructor_course.studentCourses | length  }}
										&nbsp;</span>
								</a>


							</td>
							<td>

								{% if is_granted('chapter_list') %}
								
								<a href="{{ path('instructor_course_chapter_content_list', {'id': instructor_course.id}) }}" class="btn btn-primary btn-sm">
									<span class="fa fa-plus"></span>
									{% trans %}Chapters{% endtrans %}
								</a>
							{% endif %}
							{% if is_granted('content_list') %}
								<a href="{{ path('content_index', {'id': instructor_course.id}) }}" class="btn btn-success btn-sm">
									<span class="fa fa-plus"></span>
									{% trans %}Contents{% endtrans %}
								</a>
							{% endif %}
							{% if is_granted('quiz_list') %}
								<a href="{{ path('quiz_index', {'id': instructor_course.id}) }}" class="btn btn-success btn-sm">
									<span class="fa fa-plus"></span>
									{% trans %}Quiz{% endtrans %}
								</a>
							{% endif %}

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4"> {% trans %}no records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
<script>
	 function generateReport(x)
	{
 
	var urls = "/getsummary/"+ x;

	
	$.ajax({
	url: urls ,

	success: function(data){
	 $('#rep tr').remove();
		$.each(data, function(i, content) {
	 
	var tr = $('<tr></tr>');
	var td = $('<td>'+(i+1)+'</td><td>'+content.chapter+'</td><td><table><tr><td>Video</td><td>'+content.contents.video+'</td></tr><tr><td>Youtube</td><td>'+content.contents.youtube+'</td></tr><tr><td>Others</td><td>'+content.contents.others+'</td></tr></table></td><td>'+content.quiz+'</td>');
	tr.append(td);
$("#rep").append(tr);
			 
		});



	},
	error: function(data){
		console.log("Error");
	}
});



	}
</script>
{% endblock %}