{% extends "sBase.html.twig" %}
{% block stylesheet %}
	<style>
		label {
			margin-bottom: 10px;
		}

		.d-flex.flex-column.px-2 {
			font-size: 17px;
			line-height: 37px;
		}

		.card {
			padding: 50px 100px;
		}

		body {
			font-size: 15px;
		}
		.card-body {
			background-color: white;
			padding-left: 100px;
			padding-bottom: 50px;
		}

		input {
			width: 18px;
			height: 34px;
		}
		.card-body label {
			font-size: 18px;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			{% set num = 1 %}
			<div class="card mt-3 ml-5">
				<div class="card-header">
				<div class="row">
					<div class="col-sm-4">
						<h5 style="font-family: poppins; padding: 5px;"> {{chapter.topic }}</h5>
					</div>
					<div class="col-sm-4">
						<center> <h3 id="time">05:00</h3></center>
					</div>
					<div class="col-sm-4">
						<span style="float: right">
							{{ quiz_ques.getPaginationData.firstItemNumber }}
							out of
							{{ quiz_ques.getTotalItemCount }}
							questions
						</span>
					</div>
					</div>
				</div>
				<div class="card-body">

					{% for question in quiz_ques %}

						<h5 class="py-3">
							{{question.question}}</h5>
							<form>
						{% for choice in question.quizChoices %}
							
							<div class="d-flex flex-column px-4 py-1">
								<label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method1">
									<input id="shipping_method1" type="radio" class="me-2" name="choice" value="{{choice.letter}}" >
									{{ choice.description}}
								</label>
							</div>
							
						{% endfor %}
						</form>
					{% endfor %}
					<div>
						{# {% if quiz_ques.getPaginationData.firstItemNumber == quiz_ques.getTotalItemCount %}
							<br>
							<button class="btn btn-primary" style="width: 160px;"> Previous</button>
						{% endif %} #}
					</div>
				</div>
				<br>
				<div class="  pagination justify-content-center " id="main-pagination">
					{{ knp_pagination_render(quiz_ques) }}</div>


					<div class="row">
						<div class="col-md-2">
							<a href="/" class="btn  btn-primary float-left " id="prev">
								<span class=" fa fa-arrow-alt-circle-left"></span>
								Previous</a>
						</div>
						<div class="col"></div>
						<div class="col-md-2">
							<a href="/" class="btn btn-primary float-right" id="next">Next
								<span class=" fa fa-arrow-alt-circle-right"></span>
							</a>
						</div>
					</div>
				</div>
				{# <div class="  pagination justify-content-center "> #}
					{# {{ knp_pagination_render(quiz_ques) }}</div> #}
			{# </div> #}
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function() {
    var pages = document.getElementsByClassName("page-item");
    var last = pages.length;
    for (var i = 0; i <= pages.length; i++) {
        if (i == 0 || i == pages.length - 1) {
            var a = pages[i].querySelector('a');

            if (a !== null) {
                href = a.href;
                if (i == 0) {
                    document.getElementById("prev").href = href;
                } else {
                    document.getElementById("next").href = href;
                }
            } else {
                if (i == 0) {
                    document.getElementById("prev").classList.add("disabled");
                } else {
                    document.getElementById("next").classList.add("disabled");
                }
            }
        }
        pages.item(i).innerHTML = "";
    }
});

function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 5,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};
</script>
{% endblock %}