{% extends "sBase.html.twig" %}
{% block stylesheet %}
	<style>
		label {
			margin-bottom: 10px;
		}

		.d-flex.flex-column.px-2 {
			font-size: 17px;
			line-height: 37px;
		}

		.card-web {
			padding: 50px 100px;
		}

		body {
			font-size: 15px;
		}

		input {
			width: 18px;
			height: 34px;
		}
		.card-body label {
			font-size: 18px;
		}
		.btn-primary{
			color: #fff;
			background-color: #1a3b52;
			border-color: #0d6efd;
		}
		.btn.disabled, .btn:disabled, fieldset:disabled .btn {
			pointer-events: all;
			opacity: 1;
		}
	</style>
{% endblock %}
{% block body %}
<script> 	
	checked = 0;
</script>
	<br>
	<div class="container-fluid">
		<div class="row">
			{% set num = 1 %}
			<div class="card mt-3 ml-5" id="quiz-card">
				<div class="card-header">
				<div class="row">
					{# <div class="col-sm-4 col-12">
						<h5 style="padding: 5px;"> {{chapter.topic }}</h5>
					</div> #}
					<div class="col-6">
							{{ quiz_ques.getPaginationData.firstItemNumber }}
							out of
							{{ quiz_ques.getTotalItemCount }}
							questions
					</div>
					<div class="col-6">
						<h3 id="time" style="float: right"><span id="minute" minute="{{time.minutes}}">{{time.minutes}}</span>:<span id="second" second="{{time.seconds}}">{{time.seconds}}</span></h3>
					</div>
					</div>
				</div>
				<div class="card-body">
					{% for question in quiz_ques %}
							{% autoescape %}
							<h5 class="py-3">{{question.question|raw}}</h5>
							{% endautoescape %}
							<input type="hidden" id="parameter" value="{{question.id}}">
							<form >
						{% for choice in question.question.quizChoices %}
							<div class="d-flex flex-column px-4 py-1">
								<label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method{{choice.id}}">
									{% if choice.letter == question.answer %}
										<script> 	
											checked = 1;
										</script>
										<input id="shipping_method{{choice.id}}" type="radio" class="me-2" name="choice" checked="checked" value="{{choice.letter}}" >
										{{choice.letter}}) &nbsp;&nbsp; {{ choice.description}}
									{% else %}
										<input id="shipping_method{{choice.id}}" type="radio" class="me-2" name="choice" value="{{choice.letter}}" >
										{{choice.letter}}) &nbsp;&nbsp; {{ choice.description}}
									{% endif %}
								</label>
							</div>
							
						{% endfor %}
						</form>
					{% endfor %}

						
					<div>
					</div>
				</div>
				<br>
				<div class="pagination justify-content-center" id="main-pagination">
					{{ knp_pagination_render(quiz_ques) }}</div>

					<div class="row mb-5">
						<div class="col-sm-2 col-5">
							<a href="/" class="btn  btn-primary float-left " id="prev">
								<span class=" fa fa-arrow-alt-circle-left"></span>
								Previous</a>
						</div>
						<div class="col"></div>
						
						{% if quiz_ques.getPaginationData.firstItemNumber == quiz_ques.getTotalItemCount %}
							
						<div class="col-sm-2 col-5">
								<a href="{{app.request.pathInfo}}?page={{quiz_ques.getTotalItemCount+1}}" class="btn btn-primary float-right " id="next">Finish
									<span class=" fa fa-arrow-alt-circle-right"></span>
								</a>
							</div>
						{% else %}	
							<div class="col-sm-2 col-4">
								<a href="/" class="btn btn-primary float-right" id="next">Next
									<span class=" fa fa-arrow-alt-circle-right"></span>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
				{# <div class="  pagination justify-content-center "> #}
					{# {{ knp_pagination_render(quiz_ques) }}</div> #}
			{# </div> #}
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script>

	responsive("#quiz-card");
	if(!isMobile())
	{
		$(".card, card-body").addClass("card-web");
	}
	$(document).ready(function() {
    var pages = document.getElementsByClassName("page-item");
    var last = pages.length;
    for (var i = 0; i <= pages.length; i++) {
        if (i == 0 || i == pages.length - 1) {
            var a = pages[i].querySelector('a');

            if (a !== null) {
                href = a.href;
                if (i == 0) {
                    document.getElementById("prev").href = href;
                } else {
                    document.getElementById("next").href = href;
                }
            } else {
                if (i == 0) {
                    document.getElementById("prev").classList.add("disabled");
                } else {
                    document.getElementById("next").classList.add("disabled");
                }
            }
        }
        pages.item(i).innerHTML = "";
    }
});

function startTimer(minutes, seconds,  display) {
	var round = 0;
    setInterval(function () {
		if(minutes<10 && round == 0){
			minutes = minutes < 10 ? "0" + minutes : minutes;
        	seconds = seconds < 10 ?  "0" + seconds : seconds;
			round = 1;
		}

        display.textContent = minutes + ":" + seconds;

        if ((seconds-1) < 0) {
            if(minutes> 0){
				minutes--;
				seconds = 59;
			}
        }
		else if(minutes !=0 && seconds != 0)
			--seconds;
    }, 1000);
}

window.onload = function () {
	var minute = $("#minute").attr("minute");
	var second = $("#second").attr("second");
    display = document.querySelector('#time');
    startTimer(minute, second , display);
};

$("#next").on('click', function(e){
	e.preventDefault();
	if(checked)
	{
		window.location = $(this).attr("href");
	}
});

$("input[type=radio]").on('click', function(e){
	$link = $("#next").attr("href");
	$newLink = $link.split("&");
	
	checked = 1;
	$("#next").attr("href", $newLink[0] + "&parameter="+$("#parameter").attr("value")+ "&value="+$(this).attr("value"));
});


	$("#next").removeAttr("disabled");
	$("#next").removeClass('disabled');
</script>
{% endblock %}