{% extends 'base.html.twig' %}

{% block title %}QuizChoices{% endblock %}

{% block body %}
    <h1>QuizChoices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_choice.id }}</td>
            </tr>
            <tr>
                <th>Letter</th>
                <td>{{ quiz_choice.letter }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ quiz_choice.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_choices_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <a href="{{ path('quiz_choices_edit', {'id': quiz_choice.id}) }}">edit</a>

    {{ include('quiz_choices/_delete_form.html.twig') }}
{% endblock %}
