{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}StudentCourse index{% endtrans %}
{% endblock %}
{% block breadcrumbhome %}
	{% trans %}Sudentcourse{% endtrans %}
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}index{% endtrans %}
{% endblock %}

{% block body %}

	<div class="card card-info">
		<div class="card card-header">
			<h4 class="card-title">{% trans %}List of students ready for Certification{% endtrans %}</h4>
		</div>
		<div class="card card-body">
			<table class="table ">
				<thead>
					<tr>
						<th>#</th>
						<th>{% trans %}Name{% endtrans %}</th>
						<th>{% trans %}Course{% endtrans %}</th>
						<th>{% trans %}Date of Completion{% endtrans %}</th>
						<th>{% trans %}Action{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for student_course in student_courses %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>
								{{ student_course.student.user.firstName }}
								{{ student_course.student.user.middleName }}
								{{ student_course.student.user.lastName }}
							</td>
							<td>
								{{student_course.instructorCourse.course.name}}
							</td>
							<td>{{ student_course.completedAt ? student_course.completedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a href="{{path('print_certificate',{'id': student_course.id})}}" class="btn btn-primary btn-sm">Certificate</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{% trans %}No records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="  pagination justify-content-center ">
			{{ knp_pagination_render(student_courses) }}</div>

		<div class="float-right pl-5 pb-2">

			{% trans %}Total result{% endtrans %}:
			{{ student_courses.getTotalItemCount }}
		</div>
	</div>

{% endblock %}
