{% extends 'sBase.html.twig' %}
{% block title %}{% trans %}chapters{% endtrans %}
{% endblock %}
{% block stylesheet %}
	<style>
		.progress {
			height: 0.6rem;
			margin-top: 7px;
			padding: 0px;
		}

		.page-title {
			margin-left: 8%;
		}

        .disabled {
            pointer-events:none; 
            opacity:0.6; 
        }
	</style>
{% endblock %}
{% block body %}
	<h4 class="page-title">
		{% trans %}Chapters in this course{% endtrans %}
	</h4>
		{% if chapters|length == 0 %}
			<div class="row chapter-list">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="card border-0 border-radius-0 ">
						<div class="card-body">
							<p class="card-text">{% trans %}There is no chapter in this course{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			{% set flag = 0 %}
			{% for chapter in chapters %}
			<div class="row chapter-list">
				<div class="col-md-1"></div>
					<div class="col-md-10">
					{% if flag == 1 %}
						<div class="card border-0 border-radius-0 disabled">
					{% else %}
						<div class="card border-0 border-radius-0 ">
					{% endif %}
					
							<div class="card-body">
								<a href="{{path('content_list',{'course':chapter.instructor_course_id,'chapter':chapter.chapter})}}">
									<h4 class="card-title card-title-custom mb-1 text-4 font-weight-bold">{{chapter.chapter}}</h4>
								</a>
								<p class="card-text" style="padding: 14px 0px 0px;">{% trans %}Videos{% endtrans %} : {{ chapter.total_video }}
									<span style="margin-left:30px;">{% trans %}Notes{% endtrans %} : {{ chapter.total_content }}</span>
								</p>
							</div>
							<div class="card-footer bg-color-grey text-1 text-uppercase">
								<div class="row">
									<div class="progress mb-2 col-sm-3 col-md-2">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{chapter.completed}}%;"></div>
									</div>
									<div class="col-md-3 col-sm-6">
										{{chapter.completed}}% {% trans %}completed{% endtrans %}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				{% if chapter.completed !=100 %}
					{% set flag = 1 %}
				{% endif %}
				
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
