{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Course Requests{% endtrans %}
{% endblock %}
{% block breadcrumbhome %}
	{% trans %}Requests{% endtrans %}
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}index{% endtrans %}
{% endblock %}

{% block body %}

	<div class="card card-info">
		<div class="card card-header">
			<div class="row">
				<div class="col-md-6">
					<h3>{% trans %}Request list{% endtrans %}</h3>
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
		<div class="card card-body">
    <div class="col-xs-12 col-md-12">
							{{ form_start(searchForm,{'attr': {'role':'form'}, 'method': 'GET'}) }}
								<div class="row">
									
									<div class="col-sm-4">		
										<div class="form-group">
											<label class="col-sm-12 control-label">{{ form_label(searchForm.student) }}</label>
											{{ form_widget(searchForm.student,{'attr':{'class':'form-control'},'full_name':'student','value':app.request.get('student') })}}
											{# <input type="text" class="form-control" student="name"/> #}
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label class="col-sm-12 control-label ">{{ form_label(searchForm.instructorCourse) }}</label>
											{{ form_widget(searchForm.instructorCourse,{'attr':{'class':'form-control'},'full_name':'instructorCourse','value': app.request.get('instructorCourse')}) }}
											<div class="help-block with-errors"></div>
										</div>
									</div>

									<div class="col-sm-2">
										<div class="form-group">
											<label class="col-sm-12 control-label no-padding-right"></label>
											<button class="btn btn-info" style="margin-top:15px;width:100%;"><i class="fas fa-search"></i></button>
										</div>
									</div>
                </div>
								{{ form_end(searchForm) }}
						
			<table class="table ">
				<thead>
					<tr>
            <th>#</th>
						<th>Id</th>
						<th>{% trans %}Student{% endtrans %}</th>
            <th>{% trans %}Course{% endtrans %}</th>
						<th>{% trans %}Date{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
          <form action="" method="post">
					{% for student_course in student_courses %}
						<tr>
              <td><input type="checkbox" name="approved_students[]"></td>
							<td>{{ loop.index }}</td>
							<td>{{ student_course.student }}</td>
              <td>{{ student_course.instructorCourse.course.name }}</td>
							<td>{{ student_course.createdAt ? student_course.createdAt|date('Y-m-d H:i:s') : '' }}</td>


							<td>
								<a href="#" data-toggle="modal" data-target="#modal-delete{{student_course.id}}">
									<i class="btn btn-success btn-sm">Accept</i>
								</a>

								<div class="modal fade" id="modal-delete{{student_course.id}}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title text-bold text-green">Registering a student</h4>
												<button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>

											<form id="undo_course_request_form{{student_course.id}}" action="{{path('course_request_deactivate',{id:student_course.id})}}" class="form" method="POST">
												<div class="modal-body">

													<div class="form-group text-blue">
														Are you sure you want to register
														<u>
															{{student_course.student}}
														</u>
														for the course
														{{student_course.instructorCourse.course}}
														?
													</div>

												</div>
												<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-warning" data-dismiss="modal">NO</button>

													<button onclick="" type="submit" id="paynow" class="btn btn-success">
														<i class="fa fa-arrow-alt-circle-right m-1"></i>Yes
													</button>
												</div>
											</form>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div</td>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{% trans %}No records found{% endtrans %}</td>
						</tr>
					{% endfor %}
          </form>
				</tbody>
			</table>
			<div class="  pagination justify-content-center ">
				{{ knp_pagination_render(student_courses) }}</div>

			<div class="float-right pl-5 pb-2">

				{% trans %}Total result{% endtrans %}:
				{{ student_courses.getTotalItemCount }}
			</div>
		</div>
	</div>

{% endblock %}
