<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        course-player
    </title>


    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('images/eca.png')}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/fontawesome-free/css/all.min.css')}}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{asset('student/css/theme.css')}}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{asset('student/css/custom.css')}}">
    <link rel="stylesheet" href="{{asset('student/css/default.css')}}">
    <link rel="stylesheet" href="{{asset('student/css/theme-elements.css')}}">
    <style>
        .tabs {
            padding: 16px 0;
        }
        
        iframe,
        video {
            width: 100%;
        }
        
        .list li{
            cursor: pointer;
            margin: 0px;
        }
        .list li:hover, .active{
            background-color: #ccc9c9;
        }

        td{
            padding: 0px 3px;
            line-height: 1.5em;
        }
        .list li, i {
            cursor: pointer;
            padding: 10px;
        }

        .list.list-icons li {
            padding-left: 9px;
        }

        .list li{
            border-bottom: 1px solid #dadaca;
        }

        #youtube,
        #video,
        #document {
            margin-top: 17px;
            width: 100%;
            padding: 0;
        }

        .fas{
            color: #0088cc;
        }
        
        p,
        ul {
            color: black;
        }
        .disabled {
            pointer-events:none; 
            opacity:0.6; 
        }
    </style>
</head>

<body>
    <div class="body">
        {% include 'master-st/navbar.html.twig' %}
        <script>
            const videos = {};
            const desc = {};
            const resource = {};
            var control = {
                view_at: 0,
                num_of_list:0
            }
        </script>
        <div role="main" class="main">
            <section class="section border-0 m-0" style="min-height: 600px;">
                <div class="container-fluid">
                    <div class="row">
                        {% if pages_seen|length != 0 %}
                            <script>
                                control.view_at = "{{pages_seen.pagesCompleted}}";
                            </script>
                        {% endif %}
                        
                        <div class="col-md-8">
                            <div id="video">
                                <video autoplay controls width="100%" height="453">
									<source id="video-source" src="">
								</video>
                            </div>
							
                            <div id="youtube">
                                <iframe height="453" width="100%" src="" style="display:none" id="youtube-link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div id="document">
                                <div class="card" id="text-card" style="display:none">
                                    <div class="card-body">
                                        <div id="html-text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="tabs ">
                                <ul class="nav nav-tabs tabs-primary">
                                    <li class="nav-item" style="width: 100%; border-bottom: 1px solid blue">
                                        <a class="nav-link active" href="#popular7" data-bs-toggle="tab">Contents</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">
                                    <ul class="list list-icons list-icons-style-1">
                                        {% set flag = 0 %}
                                        {% for content in contents %} 
                                            <script>
                                                control.num_of_list +=1;
                                            </script>
                                        {% if content.filename != null %}
                                        {% if flag < pages_seen.pagesCompleted %}
                                        
                                        <li data-type="{{content.id}}" content="filename" class="">
                                            <table>
                                                <tr><td>
                                                <input type="checkbox" checked></td><td>
                                        {% else %}
                                        <li data-type="{{content.id}}" content="filename" class="disabled">
                                            <table>
                                                <tr><td>
                                                <input type="checkbox" disabled></td><td>
                                        {% endif %}
                                                <i class="fas fa-play"></i></td><td> {{ content.title }}</td></tr>
                                                </table>
                                        </li>
                                        <script>
                                            var id = "{{ content.id }}";
                                            var link = "{{ content.filename }}";
                                            var res = "{{ content.resource }}";
                                            var de = "{{ content.description }}";
                                            videos[id] = link;
                                            desc[id] = de;
                                            resource[id] = res;
                                        </script>
                                        {% elseif content.videoLink != null %}
                                            {% if flag < pages_seen.pagesCompleted %}
                                            <li data-type="{{content.id}}" content="youtube">
                                                <table>
                                                    <tr><td>
                                                    <input type="checkbox" checked></td><td>
                                            {% else %}
                                            <li data-type="{{content.id}}" content="youtube" class="disabled">
                                                <table>
                                                    <tr><td>
                                                    <input type="checkbox" disabled></td><td>    
                                            {% endif %}
                                                    <i class="fas fa-play-circle"></i></td><td> {{ content.title }}</td></tr>
                                                    </table>
                                            </li>
                                        <script>
                                            var id = "{{ content.id }}";
                                            var link = "{{ content.videoLink }}";
                                            var res = "{{ content.resource }}";
                                            var de = "{{ content.description }}";
                                            videos[id] = link;
                                            desc[id] = de;
                                            resource[id] = res;
                                        </script>
                                        {% elseif content.content != "" %}
                                            {% if flag < pages_seen.pagesCompleted %}
                                            <li data-type="{{content.id}}" content="doc">
                                                <table>
                                                    <tr><td>
                                                    <input type="checkbox" checked></td><td>
                                            {% else %}
                                            <li data-type="{{content.id}}" content="doc" class="disabled">
                                                <table>
                                                    <tr><td>
                                                    <input type="checkbox" disabled></td><td>
                                            {% endif %}
                                                    <i class="fas fa-book"></i></td><td> {{ content.title }}</td></tr>
                                                    </table>
                                            </li>
                                        {% endif %} 
                                            {% set flag = flag+1 %}
                                        {% endfor %}
                                        <li style="border-bottom: 0px;">
                                            <a href="{{ path('course_quiz',{'id': "2"}) }}" style="color:blue;">
												Chapter Quiz
											</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" id="desc-text" style="display:none">
                            <p id="description" style="width:100%; background-color:white;padding: 15px;"></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'master-st/footer.html.twig' %}
    </div>

    <!-- jquery -->
    <script src=" {{asset( 'assets/plugins/jquery/jquery.js')}} "></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{{asset( 'student/js/theme.js')}} "></script>

    <!-- Theme Custom -->
    <script src="{{asset( 'student/js/custom.js')}} "></script>

    <!-- Theme Initialization Files -->
    <script src="{{asset( 'student/js/theme.init.js')}} "></script>
   <script>   
    var selected_doc = 0;

    $("li").on("click", function(){
        content = $(this).attr("content");
        var id = $(this).attr("data-type");

        if(content === "doc")
        {
            if(selected_doc != id){
                $("#youtube-link").css("display", "none");
                $("#youtube-link").attr("src","");
                $("#video").html("");
                $("#text-card").css("display","block");
                url = "/content/"+id+"/cont";
                $.ajax({
                    url: url,
                    type: "get",
                    success: function(data)
                    {
                        if(xhr.status == 200)
                        {
                            $("#html-text").html(xhr.responseText);
                        }
                    },
                    error: function(xhr)
                    {
                        if(xhr.status == 200)
                        {
                            $("#html-text").html(xhr.responseText);
                        }
                    }
                });
                selected_doc = id;
            }

        }
        else if(content === "youtube")
        {
        //	var iframe = $('<iframe height="453" width="100%" src="" id="youtube-link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        //	$("#youtube").append(iframe);
            selected_doc = 0;
            $("#text-card").css("display","none");
            $("#video").html("");
            $("#youtube-link").css("display", "block");
            $("#youtube-link").attr("src", videos[id]);
        }
        else if(content === "filename")
        {	
            $("#video").html("");
            videoHtml = $("#video").html();
            if(videoHtml == ""){				
                var videoSkin = $("<video controls width='100%' height='453'></video>");
                var source = $("<source id='video-source' src=''>");
                videoSkin.append(source);
            }
            $("#video").append(videoSkin);
            $("#youtube-link").css("display", "none");
            $("#youtube-link").attr("src","");					
            $("#text-card").css("display","none");
            $("#video").css("display", "block");
            $("#video-source").attr("src", "/uploads/resources/"+videos[id]);
        }

        console.log(desc[id]);
        if(desc[id] != "")				
        {
            //$("#description").html(desc[id]);
            //$("#desc-text").css("display", "block");
        }
        else
        {
            console.log("hell");
            $("#description").html("");
            $("#desc-text").css("display", "none");
        }
    });

    $(document).ready(function(){
        activeList(parseInt(control.view_at));
        $(".list li").on("click", function(){
            $(".list li").each(function(){
                $(this).removeClass("active");
            });
            $(this).addClass("active"); 
        });
    });

    function activeList(num)
    {

        lists = $(".list li");
        var flag = 1;
        if((lists.length-1) == control.num_of_list)
        {

            lists.each(function(){
                if(flag == (num+1)){
                    console.log($(this).attr('data-type'));
                    $(this).removeClass("disabled");
                }
                else{
                                       // console.log($(this));

                }
                flag++; 
            });
        }
        else{
            console.log("err");
        }

    }
</script>
</body>

</html>