{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}StudentCourse{% endtrans %}
{% endblock %}
{% block breadcrumbhome %}
	{% trans %}Studentcourse{% endtrans %}
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}Show{% endtrans %}
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			<table class="table">
				<tbody>
					<tr>
						<th>{% trans %}Name{% endtrans %}</th>
						<td>{{student.user.firstName}}
							{{student.user.middleName}}
							{{student.user.lastName}}
						</td>
					</tr>
					<tr>
						<th>{% trans %}Email{% endtrans %}</th>
						<td>
							{{student.user.email}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
    <h4 style="margin-left:40px;"> {% trans %}Attended Courses{% endtrans %}</h5>
    <br>
	{% for course in student_course %}
		<div class="card">
			<div class="card-body">
				<table class="table table-responsive">
					<tbody>
						<tr>
							<th style="width: 150px">{% trans %}Course{% endtrans %}</th>
							<td>{{ course.instructorCourse.course.name}}</td>
						</tr>
						<tr>
							<th>{% trans %}Date Registered{% endtrans %}</th>
							<td>{{ course.createdAt ? course.createdAt|date('Y-m-d') : '' }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
	<br>
	<div class="row">{# <div class="col-md-2">
														<a href="{{ path('students_in_course',{'id':student_course.instructorCourse.id}) }}" class="btn btn-info btn-block">{% trans %}Back to list{% endtrans %}</a>
													</div> #}
		{# <div class="col-md-2">
													                <a href="{{ path('student_course_edit', {'id': student_course.id}) }}"
													                    class="btn btn-primary btn-block">edit</a>
													            </div> #}
		{# <div class="col-md-2">
														{{ include('student_course/_delete_form.html.twig') }}
													</div> #}
	</div>
</div></div>{% endblock %}
