{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	StudentCourse index
	{% endtrans %}
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('assets/plugins/dataTables/datatables.min.css') }}">
{% endblock %}

{% block breadcrumbhome %}
	{% trans %}
	Studentcourse


	{% endtrans %}
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}
	index


	{% endtrans %}
{% endblock %}

{% block body %}

	<div class="card card-info">
		<div class="card card-header">
			<div class="row">
				<div class="col-md-6">
					<h5>
						{% trans %}
						Students registered for course


						{% endtrans %} {{ instructor_course.course | capitalize }}
					</h5>
				</div>
				<div class="col-md-6">

					<a onclick="showchart()" href="#" class="btn btn-primary btn-sm" style="float:right">
						{% trans %}
						Report


						{% endtrans %}
					</a>
				</div>
			</div>
		</div>

		{# style="width:100%; max-width:800px; height:500px;" #}
		<div class=" row text-center" style="display:none" id="chart">
			<div class="text-center col-md-3"></div>
			<div class="text-center col-md-6 col-sm-12" id="myChart" style="width:100%; max-width:800px; height:300px;"></div>
			<div class="text-center col-md-3"></div>
		</div>

		<div class="card card-body">

			<table class="table" id="table">
				<thead>
					<tr>
						<th>
							Id


						</th>
						<th>
							{% trans %}
							Name


							{% endtrans %}
						</th>
						<th>
							{% trans %}
							Registered Date


							{% endtrans %}
						</th>
						<th>
							{% trans %}
							Completion

							{% endtrans %}
							(%)


						</th>
						<th>
							{% trans %}
							is Active


							{% endtrans %}
						</th>
						{# <th>Is at page</th> #}
						<th>
							{% trans %}
							Action
							{% endtrans %}
						</th> 
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="modal-delete">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-bold text-red" id="header">

						{% trans %}Denying course material access{% endtrans %}


					</h4>
					<button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;


						</span>
					</button>
				</div>

				<div class="modal-body"></div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-warning" data-dismiss="modal">
						{% trans %}Close{% endtrans %}


					</button>

					<button onclick="changeStatus1()" type="submit" id="paynow" class="btn btn-success">
						<i class="fa fa-arrow-alt-circle-right m-1"></i>

					</button>
				</div>
				{# </form> #}
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{{asset('assets/dist/js/chart.js')}}"></script>

	<script>
		var selected_id = {
id: 0
};
function changeStatus(name, id, status) {



if (status == 1) {;
var msg  = '{{ "Are you sure you want to deny course material access for the student" | trans }}';
var forthe = '{{"for the course" | trans}}';
$(".modal-body").html(msg + " <strong> " + name + "</strong> "+ forthe +" <strong> {{ instructor_course.course }} </strong> ");

	$("#header").html("{% trans %}Denying course material access{% endtrans %}");


} else 
{
	var msg  = '{{ "Are you sure you want to allow course material access for the student" | trans }}';
	var forthe = '{{"for the course" | trans}}';
	$(".modal-body").html(msg + " <strong> " + name + "</strong> "+ forthe +" <strong> {{ instructor_course.course }} </strong> ");
		$("#header").html("{% trans %}Allowing course material access{% endtrans %}");
} 

selected_id.id = id;
}

function changeStatus1() {
$("#modal-delete").modal('hide');
// $("#modal-delete").hide();
// $("#modal-delete, .modal-backdrop").removeClass("show");
url = "{{ path('change_student_course_status') }}";
$.ajax({
url: url,
data: {
'id': selected_id.id
},
success: function (data) {
if (data == 1) {
$("#" + selected_id.id).html('<i class="fas fa-check-circle" style="color: green"></i>');
} else {
$("#" + selected_id.id).html('<i class="fas fa-times-circle" style="color: red"></i>');
}
},
error: function (data) { // console.log(data);
}
});
}

$(document).ready(function () {
var x = 1;
var instcrs = {{instructor_course.id}}
$('#table').dataTable({
"columns": [
{
"data": "id"
},
{
"data": "name"
},
{
"data": "createdAt"
},
{
"data": "page"
}, {
"data": "status"
}, {
"data": "actions"
}
],
// Server-side parameters
"processing": true,
"serverSide": true,
// Ajax call
"ajax": {
	"data":{'id':instcrs},
"url": "{{ path('list_student_in_course') }}",
"type": "POST"
}

});
});
	</script>

	<script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{asset('assets/dist/js/chart.js')}}"></script>


<script>

var data = {{ completion | raw }}
//console.log(data);
function showchart()
{
	render(data,'Student Completion Statistics');
}
	</script>
{% endblock %}
