{% extends 'sBase.html.twig' %}
{% block stylesheet %}
<link href="{{asset('assets/plugins/owlCarousel/dist/assets/owl.carousel.min.css')}}" rel="stylesheet"/>
<link href="{{asset('assets/plugins/owlCarousel/dist/assets/owl.theme.default.min.css')}}" rel="stylesheet"/>
	<style>
		a:not(.btn):hover {
			text-decoration: none;
		}
		a  .card-body p 
		{
			text-decoration: none;
			font-size: 19px;
		}
        .card-footer {
            padding: .3rem 1rem;
            display: none;
        }

        .card:hover .card-footer {
            display: contents;
        }

        .enroll{
            border: 0px;
            border-radius: 0px;
        }
        .enroll:hover, .enroll:focus, .enroll:blur{
            border: 0px;
        }
        
	</style>
{% endblock %}
{% block body %}
    <h3 class="page-title">
        My Courses
    </h3>

	<div class="row align-items-center">
    {% set array = [] %}
    {% set check = true %}

	{% if student_courses|length == 0 %}
        {% set check = false %}
        <div class="col-md-4">
            <div class="card border-0 border-radius-0 mb-3" style="height: 100px";>
                <div class="card-body">
                    <p>you didn't register for any courses yet</p>
                </div>
            </div>
        </div>
	{% else %}
    <pre>
        {{ dump(student_courses) }}
    </pre>
		{% for course in student_courses %}
            {% set id = course.id %}
            {% set array = array|merge([ id ]) %}
            {% if course.status !=0 %}
                {% set check = false %}
                <div class="col-md-4">
                    <div class="card border-0 border-radius-0 mb-3" style="height: 150px";>
                        <a href="/course/{{ course.id }}/chapters">
                        <div class="card-body">
                            <p>
                                {{ course.name }}
                                <br>
                                <span class="badge badge-info">{{ course.firstName|capitalize }} {{ course.middleName|capitalize}} </span>
                            <p>
                        </div>
                        </a>
                    </div>
                </div>
            {% endif %}
		{% endfor %}
	{% endif %}
    {% if check %}
        <div class="col-md-4">
            <div class="card border-0 border-radius-0 mb-3" style="height: 100px";>
                <div class="card-body">
                    <p>you didn't register for any courses yet</p>
                </div>
            </div>
        </div>
    {% endif %}
    
	</div>
	<br>

    {# <button type="button" class="btn btn-primary" id="myBtn">Show Toast</button>

  <div class="toast" style="position: absolute;">

    <div class="toast-body">
      Some text inside the toast body
    </div>
  </div> #}

  
	<h3 class="page-title" style="width:100%">
		{% trans %}Other courses{% endtrans %}
	</h3>
	<div class="row">
		{% include "course/list.html.twig" %}
	</div>
{% endblock %}
{% block javascript %}
    <script src="{{asset('assets/plugins/owlCarousel/dist/owl.carousel.min.js')}}"></script>
    <script>
        var selected_courses_login = [];
        total_selected = 0;
        $("#num").html(0);
        $(document).ready(function(){
            var json_str = getCookie('selected_courses_login');
            var arr = JSON.parse(json_str);
            cookie_length = arr.length;
            if(cookie_length > 0){
                for(i=0; i<cookie_length; i++){

                console.log(arr[i]);
                    $("button[course-id="+arr[i]+"]").parent().parent().addClass("selected-card");
                    $("button[course-id="+arr[i]+"]").css("background-color", "#F44336");
                    $("button[course-id="+arr[i]+"]").text("Remove from my Courses");
                    selected_courses_login.push(arr[i]);
                    $("#num").html(++total_selected);
                }
            }
        });
        
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                nav: true,
                margin: 10,
                items : 1, // THIS IS IMPORTANT
                responsive : {
                        480 : { items : 1  }, // from zero to 480 screen width 4 items
                        768 : { items : 2  }, // from 480 screen widthto 768 6 items
                        1024 : { items : 3   // from 768 screen width to 1024 8 items
                        }
                    },
                autoWidth: false,
                navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>']

            });
        });

        $(".enroll").on("click", function(){
            course_name = $(this).attr("course-id");
            console.log(selected_courses_login);
            if(selected_courses_login.includes(course_name)){
                $(this).text("click to select");
                $(this).css("background-color", "#093146");

                index = selected_courses_login.indexOf(course_name);
                if (index > -1) {
                    selected_courses_login.splice(index, 1);
                }
                $("#num").html(--total_selected);
                var json_str = JSON.stringify(selected_courses_login);
                eraseCookie('selected_courses_login');
                setCookie('selected_courses_login', json_str,1);
                $(this).parent().parent().removeClass("selected-card");
                var json_str = getCookie('selected_courses_login');
                var arr = JSON.parse(json_str);
            }
            else{
                $(this).text("Remove from my Courses");
                $(this).css("background-color", "#F44336");
                selected_courses_login.push(course_name);
                $("#num").html(++total_selected);
                var json_str = JSON.stringify(selected_courses_login);
                setCookie('selected_courses_login', json_str,1);
                $(this).parent().parent().addClass("selected-card");
                var json_str = getCookie('selected_courses_login');
                var arr = JSON.parse(json_str);
            }
        });

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString())+"; path=/;";
            document.cookie = c_name + "=" + c_value;
        }

        function getCookie(c_name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }

        function eraseCookie(name) {   
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>
{% endblock %}    