{{ form_start(form) }}
<div class="form-group">
	<label for="other_payments_price">{% trans %}Chapter{% endtrans %}
	</label> {{ form_widget(form.instructorCourseChapter,{'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group">
	<label for="other_payments_buyer">Quiz Name</label> {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group">
	<label for="other_payments_paymentReason">Instruction</label> {{ form_widget(form.instruction,{'attr':{'class':'form-control'}}) }}
</div>


<div class="form-group">
	<label for="other_payments_price">Percentage</label> {{ form_widget(form.percentage,{'attr':{'class':'form-control'}}) }}
</div>




<div class="form-group">
	<label for="other_payments_price">Passvalue</label> {{ form_widget(form.passvalue,{'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group">
	<label for="other_payments_price">{% trans %}Duration{% endtrans %} (in minutes) </label> {{ form_widget(form.duration,{'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group">
	<label for="other_payments_price">Active Questions</label> {{ form_widget(form.activeQuestions,{'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
	{{ form_label(form.noOfRetakeAllowed)}} {{ form_widget(form.noOfRetakeAllowed,{'attr':{ 'id':'time'}}) }}
</div>


<div class="form-group">
<label for="time">Is this exam mandatory for the next chapter?</label> {{ form_widget(form.isMandatory,{'attr':{'class':'checkbox'}}) }}
</div>
<div class="form-group">
	<label for="time">active</label> {{ form_widget(form.active,{'attr':{'class':'', 'id':'time'}}) }}
</div>



{# <button class="btn btn-info">{{ button_label|default('Save') }}</button>


{# <div class="form-group">
	<label for="other_payments_paymentReason">Instruction</label> {{ form_widget(form.duration,{'attr':{'class':'form-control'}}) }}
</div>

<div class="form-group">
	<label for="other_payments_price">Percentage</label> {{ form_widget(form.percentage,{'attr':{'class':'form-control'}}) }}
</div> #}

{# <div class="form-group">
	<label for="other_payments_price">Passvalue</label> {{ form_widget(form.passvalue,{'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
	<label for="other_payments_price">Duration (in minutes)</label> {{ form_widget(form.duration,{'attr':{'class':'form-control'}}) }}
</div>

   <div class="form-group">
                   <label for="other_payments_price">active</label> {{ form_widget(form.active,{'attr':{'class':''}}) }}
     </div> 
  #}


<button class="btn btn-info">{{ button_label|default('Save') }}</button> {{ form_end(form) }}
