{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}
{% block breadcrumbhome %}
    <a href="{{path('quiz_index',{'id':instructorCourse.id})}}">
	   {% trans %}Quiz{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent%}
	{% trans %}Show{% endtrans %} 
{% endblock %}
{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Instruction</th>
                <td>{{ quiz.instruction }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ quiz.percentage }}</td>
            </tr>
            <tr>
                <th>Passvalue</th>
                <td>{{ quiz.passvalue }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ quiz.active }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_index',{'id':quiz.instructorCourseChapter.instructorCourse.id }) }}">{% trans %}Back to list{% endtrans %}</a>

    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
