{% extends 'base.html.twig' %}

{% block title %}
    QuestionAnswer
    
{% endblock %}

{% block breadcrumbhome %}
    <a href="{{ path('question_answer_index') }}">
        {% trans %}
        Q&A
        {% endtrans %}
    </a>
{% endblock %}
{% block breadcrumbcontent %}
    Show
{% endblock %}
{% block body %}
    <div class="card">
        <table class="table  table-striped">
            <tbody>
                <tr>
                    <th>
                        {% trans %}Asked By{% endtrans %}
                    </th>
                    <td>
                        {% if question_answer.student %}

                            {{ question_answer.student.user.firstName }}
                            {{ question_answer.student.user.middleName }}
                            {{ question_answer.student.user.lastName }}
                       
						{% else %}
						{{ app.user }}
					{% endif %}
                    </td>
                    <tr>
                        <th style="width:15%">
                            {% trans %}Question{% endtrans %}
                        </th>
                        <td>
                            {{ question_answer.question|raw }}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            {% trans %}Answer{% endtrans %}
                        </th>
                        <td>
                            {{ question_answer.answer|raw }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Video{% endtrans %}
                        </th>
                        <td>
                            {% if question_answer.videoAnswer %}
                                <a href="#" type="button" data-toggle="modal" data-target="#playerModal" title="record video">
                                    see video ...
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Created At{% endtrans %}
                        </th>
                        <td>
                            {{ question_answer.createdAt ? question_answer.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            {% trans %}Answered At{% endtrans %}
                        </th>
                        <td>
                            {{ question_answer.createdAt ? question_answer.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-condensed table-responsive">
                <td>
                    <a class="btn btn-success" href="{{ path('question_answer_index') }}">
                        {% trans %}Back to list{% endtrans %}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" style="min-width: 150px" href="{{ path('question_answer_edit', {'id': question_answer.id}) }}">
                        {% trans %}Edit{% endtrans %}
                    </a>
                </td>
                {% if question_answer.student == null %}
                    <td>
                        {{ include('question_answer/_delete_form.html.twig') }}
                    </td>
                {% endif %}
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="container">
                        <video src="/uploads/videos/{{ question_answer.videoAnswer }}"  controls width="100%"></video>
                    </div>
                </div>
            </div>
        </div></div>
    {% endblock %}
    