<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LMS</title>


		<!-- Google Font: Source Sans Pro -->
		{# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> #}
		<!-- Font Awesome -->


			
			<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> <link rel="stylesheet" href="{{asset('assets/plugins/fontawesome-free/css/all.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/jqvmap/jqvmap.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/dist/css/adminlte.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/daterangepicker/daterangepicker.css')}}">
			<link rel="stylesheet" href="{{asset('assets/plugins/summernote/summernote-bs4.min.css')}}">
            {% block stylesheets %}
		{% endblock %}


		
			<script src="{{asset('assets/plugins/jquery/jquery.min.js')}}"></script>
			<script src="{{asset('assets/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
			<script src="{{asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="{{asset('assets/plugins/chart.js/Chart.min.js')}}"></script>
			<script src="{{asset('assets/plugins/sparklines/sparkline.js')}}"></script>
			<script src="{{asset('assets/plugins/jqvmap/jquery.vmap.min.js')}}"></script>
			<script src="{{asset('assets/plugins/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
			<script src="{{asset('assets/plugins/jquery-knob/jquery.knob.min.js')}}"></script>
			<script src="{{asset('assets/plugins/moment/moment.min.js')}}"></script>
			<script src="{{asset('assets/plugins/daterangepicker/daterangepicker.js')}}"></script>
			<script src="{{asset('assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
			<script src="{{asset('assets/plugins/summernote/summernote-bs4.min.js')}}"></script>
			<script src="{{asset('assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
			<script src="{{asset('assets/dist/js/adminlte.js')}}"></script>
			<script src="{{asset('assets/dist/js/demo.js')}}"></script>
			<script src="{{asset('assets/dist/js/pages/dashboard.js')}}"></script>
			<script>
				$.widget.bridge('uibutton', $.ui.button)
            </script>
            {% block javascripts %}
		{% endblock %}


	</head>
	<body class="hold-transition sidebar-mini layout-fixe">


    <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  
{% include 'master/navbar.html.twig' %}
{% include 'master/sidebar.html.twig' %}
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"> 
            <h1 class="m-0">ECA Learning management system</h1>
          </div> 
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">
			{% block breadcrumbhome %}
			 Home
			{% endblock %}
			 
			  </a></li>
              <li class="breadcrumb-item active">
			  {% block breadcrumbcontent %}
			 Content
			{% endblock %}
			  </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
  
				<div class="row">
					<div class="col-md-12">

						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="row alert alert-{{ label }} alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h4 class="mr-4">
										<i class="icon fa fa-{% if label=='success' %}check {% else %}ban {% endif %}"></i>
										Alert!</h4>
									{{ message }}

								</div>


							{% endfor %}
						{% endfor %}

					</div>
				</div>
				<div class="container-fluid">
					<div
						class="row">
						<!-- left column -->
						<div class="col-md-12">
							{% block body %}
							 
							{% endblock %}
						</div>
						<!--/.col (left) -->
						<!-- right column -->
						<div class="col-md-6"></div>
						<!--/.col (right) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->






		 





{% include 'master/footer.html.twig' %}



  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	 
	</body>
</html>
