<!DOCTYPE html>
<html>

<head>

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
	{% block title %}
	{% endblock %}
</title>
<meta name="keywords" content="HTML5 Template"/>

<!-- Favicon -->
<link rel="shortcut icon" href="{{asset('images/fas.jpg')}}" type="image/x-icon"/>

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{{asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('assets/plugins/fontawesome-free/css/all.min.css')}}">

<!-- Theme CSS -->
<link rel="stylesheet" href="{{asset('student/css/theme.css')}}">
<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{{asset('student/css/custom.css')}}">
<link rel="stylesheet" href="{{asset('student/css/default.css')}}"> {% block stylesheet %}{% endblock %}
<style>
	#header .header-nav-main nav>ul>li>a{
		font-size: 14px;
	}

	.test{
		display: none;
	}
	.dropdown-submenu{
		font-size: 18px;
		color: #444444;
	}

	.card-body{
		overflow: hidden;
	}

	.quiz_result{
		padding: 20px 100px;
	}

	#small-logo{
		display:none;
	}
	@media (max-width: 991px){
		#header .header-nav-main nav>ul li {
			padding: 10px 0px;
		}

		#big-logo{
			display:none;
		}
		
		#small-logo{
			display: block;
		}
		.quiz_result{
			padding: 0px;
		}
	}

	.main {
		min-height: 100vh;
	}
	#footer {
		bottom: 0;
		width: 100%;
		height: 2.5rem;            
	}
</style>
</head>

<body>
<div class="body">
	{% include 'master-st/navbar.html.twig' %}

	<div role="main" class="main">
		<section class="section border-0 m-0" style=" background-size: cover; background-position: center;">
			<div class="container"> {% block body %}{% endblock %}
				</div>
			</section>
		</div>
		{% include 'master-st/footer.html.twig' %}
	</div>

	<!-- jquery -->
	<script src="{{asset('assets/plugins/jquery/jquery.js')}}"></script>
	
	<!-- bootstrap -->
	<script src="{{asset('assets/plugins/bootstrap/js/bootstrap1.bundle.min.js')}}"></script>
	
	<!-- Theme Base, Components and Settings -->
	<script src="{{asset('student/js/theme.js')}}"></script>

	<!-- Theme Custom -->
	<script src="{{asset('student/js/custom.js')}}"></script>

	<!-- Theme Initialization Files -->
	<script src="{{asset('student/js/theme.init.js')}}"></script>
	<script>
		$(document).ready(function(){
            var json_str = getCookie('selected_courses_login');
            var arr = JSON.parse(json_str);
            cookie_length = arr.length;
            if(cookie_length > 0){
                $("#my_course").removeClass("test");   
            }
            else{
                $("#my_course").addClass("test");
            }
        });

		var url = window.location.pathname;
		var drpdwns = $(".dropdown a");
		console.log(drpdwns);
		var check = true;
		drpdwns.each(function(){

			var compare = url.localeCompare($(this).attr("href"));
			if(compare == 0)
			{
				$(this).addClass("active");
				return false;
			}
			else if(url == "/student/")
			{
				$(this).addClass("active");
				return false;
			}
		});
	</script>
	{% block javascript %}{% endblock %}

</body>

</html>
