{% extends 'base.html.twig' %}

{% block title %}Termsandconditions{% endblock %}

{% block body %}
    <h1>Termsandconditions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ termsandcondition.id }}</td>
            </tr>
            <tr>
                <th>Terms</th>
                <td>{{ termsandcondition.terms }}</td>
            </tr>
            <tr>
                <th>Conditions</th>
                <td>{{ termsandcondition.conditions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('termsandconditions_index') }}">back to list</a>

    <a href="{{ path('termsandconditions_edit', {'id': termsandcondition.id}) }}">edit</a>

    {{ include('termsandconditions/_delete_form.html.twig') }}
{% endblock %}
