{% extends 'base.html.twig' %}

{% block title %}CourseCategory index{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('course_category_index') }} ">
	   {% trans %}Course Category{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}Index{% endtrans %}{% endblock %}
{% block body %}
    <h1>CourseCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for course_category in course_categories %}
            <tr>
                <td>{{ course_category.id }}</td>
                <td>{{ course_category.name }}</td>
                <td>{{ course_category.description }}</td>
                <td>
                    <a href="{{ path('course_category_show', {'id': course_category.id}) }}">show</a>
                    <a href="{{ path('course_category_edit', {'id': course_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_category_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
