
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	Course list

	{% endtrans %}
{% endblock %}
{% block breadcrumbhome %}
	<a href="{{ path('course_category_index') }} ">
		{% trans %}
		Course
		{% endtrans %}
	</a>
{% endblock %}
{% block breadcrumbcontent %}
	{% trans %}
	Index
	{% endtrans %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-info collapsed-card">
							<div class="card-header">
								<h3 class="card-title">
									{% if edit %}
										{% trans %}
										Edit

										{% endtrans %}
									{% else %}
										{% trans %}
										Add New

										{% endtrans %}
									{% endif %}
								</h3>
								{% if is_granted("course_category_create") %}

									<div class="card-tools">
										<button type="button" class="btn btn-tool " id="collapse" data-card-widget="collapse">
											<i class="fas fa-plus"></i>
										</button>
									</div>
								{% endif %}
								<!-- /.card-tools -->
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								{% if edit %}
									{% set button_label = 'Update' %}
								{% endif %}
								{{ include('course_category/_form.html.twig') }}

							</div>
							<!-- /.card-body -->
						</div>
					</div>

					<div class="col-md-12">
						<div class="card ">
							<div class="card-header">
								<h3 class="card-title">
									{% trans %}
									Course List

									{% endtrans %}
								</h3>
								<div class="card-tools">

								</div>
							</div>
							<div class="card-body">
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>{% trans %}Name{% endtrans %}</th>
                                                <th>{% trans %}Description{% endtrans %}</th>
                                                <th>{% trans %}Action{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for course_category in course_categories %}
                                            <tr>
                                                <td>{{ course_category.id }}</td>
                                                <td>{{ course_category.name }}</td>
                                                <td>{{ course_category.description }}</td>
                                                <td>
                                                    <a href="{{ path('course_category_show', {'id': course_category.id}) }}">show</a>
                                                    <a href="{{ path('course_category_edit', {'id': course_category.id}) }}">edit</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="4">{% trans %}No records found{% endtrans %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
								<div class="float-right">
									{{ knp_pagination_render(course_categories) }}
								</div>

							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>

		</div>
		<!-- /.card-body -->
	</div>

{% endblock %}
{% block javascripts %}
	{% if edit %}
		<script>


			$(function () {
$('#collapse').trigger('click');
})
		</script>
	{% endif %}
{% endblock %}
