{% extends 'base.html.twig' %}

{% block title %}{% trans %}Course Category{% endtrans %}{% endblock %}
{% block breadcrumbhome %}
    <a href="{{ path('course_category_index') }} ">
	   {% trans %}Course Category{% endtrans %} 
	</a> 
{% endblock %}
{% block breadcrumbcontent %}{% trans %}Show{% endtrans %}{% endblock %}
{% block body %}
    <div class="card">
    <table class="table ">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ course_category.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ course_category.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <table><td>
    <a href="{{ path('course_category_index') }}" class="btn btn-success">{% trans %}Back to list{% endtrans %}</a>
    </td><td>
    <a href="{{ path('course_category_edit', {'id': course_category.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
    </td><td>
    {{ include('course_category/_delete_form.html.twig') }}
    </td></table>
{% endblock %}
