<!-- Main Sidebar Container -->
<aside
	class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="/" class="brand-link">
		<img src="{{asset('images/eca.png')}}" alt="*" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">ECA LMS</span>
	</a>
	<!-- Sidebar -->
	<div
		class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image"></div>
			<div class="info">
				<a href="#" class="d-block">{{app.user.username}}</a>
			</div>
		</div>

		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul
				class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
				               with font-awesome or any other icon font library -->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-user"></i>
						<p>
							{% trans %}Users setting{% endtrans %}
							<i class="fas fa-angle-right right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">

						<li class="nav-item">
							<a href="{{path('user_group_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}User groups{% endtrans %}</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{path('usertype_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}User Types{% endtrans %}</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{path('user_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}Users{% endtrans %}</p>
							</a>
						</li>
					</ul>
				</li>

                <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-clock"></i>
						<p>
							{% trans %} Course Requests{% endtrans %}
							<i class="fas fa-angle-right right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">

						<li class="nav-item">
							<a href="{{path('course_request')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}New Requests{% endtrans %}</p>
							</a>
						</li>
						{# <li class="nav-item">
							<a href="{{ path('approved_course_request')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}Approved Requests{% endtrans %}</p>
							</a>
						</li> #}
						<li class="nav-item">
							<a href="{{ path('rejected_course_request')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}Rejected Requests{% endtrans %}</p>
							</a>
						</li>
					</ul>
				</li> 

				<li class="nav-item has-treeview menu-open ">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-book"></i>
						<p>
							{% trans %}Course{% endtrans %}
							<i class="fas fa-angle-right right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{{path('course_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>
									{% trans %}Course list
									{% endtrans %}
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="{{path('instructorCourseStatus_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}
									Course status
									{% endtrans %}</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{path('instructor_course_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}Assing Courses{% endtrans %}</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{path('instructor_course_chapter_index')}}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>{% trans %}
									My Courses
									{% endtrans %}</p>
							</a>
						</li>

					</ul>
				</li>
				<li class="nav-item"></li>
				<li class="nav-item">
					<a href="{{path('exam_index')}}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>{% trans %}Exams{% endtrans %}</p>
					</a>
				</li>
			</li>
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar --></aside>
