<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{{asset('images/eca.png')}}" alt="*" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ECA LMS</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->





                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users setting
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="{{path('user_group_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>User groups</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('usertype_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>User Types</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('user_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Users</p>
                            </a>
                        </li>

                        {#
                        <li class="nav-item">
                            <a href="{{path('instructor_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Instructors</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{path('student_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Students</p>
                            </a>
                        </li> #}

                        <li class="nav-item">
                            <a href="{{path('permission_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Permissions</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Course
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{path('course_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Course list</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('instructorCourseStatus_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Course status</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('instructor_course_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Course Assignement</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{path('instructor_course_chapter_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>My Courses</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Lesson Contents
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {# <li class="nav-item">
                            <a href="{{path('content_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Contents</p>
                            </a>
                        </li> #}
                        <li class="nav-item">
                            <a href="{{path('content_type_index')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Content Type</p>
                            </a>
                        </li>
                        {#
                        <li class="nav-item">
                            <a href="{{path('studentview')}}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>lessons</p>
                            </a>
                        </li> #}
                        <li class="nav-item">
                            <a href="{{ path('studentlesson', {'id': 1}) }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lessons</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <li class="nav-item">
                        <a href="{{path('exam_index')}}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Exams</p>
                        </a>
                    </li>
                </li>





            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>