{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}User{% endtrans %}
{% endblock %}

{% block body %}


	<div class="card card-info">
		<div class="card card-header">
			<h3>{% trans %}User{% endtrans %}</h3>
		</div>
		<div class="card card-body">
			<table class="table">
				<tbody>

					<tr>
						<th>{% trans %}First Name{% endtrans %}</th>
						<td>{{ user.firstName }}</td>
					</tr>
					<tr>
						<th>{% trans %}Middle Name{% endtrans %}</th>
						<td>{{ user.middleName }}</td>
					</tr>
					<tr>
						<th>{% trans %}Last Name{% endtrans %}</th>
						<td>{{ user.lastName }}</td>
					</tr>

					<tr>
						<th>{% trans %}User Type{% endtrans %}</th>
						<td>{{ user.userType }}</td>
					</tr>

					<tr>
						<th>{% trans %}Email{% endtrans %}</th>
						<td>{{ user.email }}</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

	<table>
		<tr>
			<td>
				<a href="{{ path('user_index') }}" class="btn btn-primary">{% trans %}Back to list{% endtrans %}</a>
			</td>
		 
			<td>{{ include('user/_delete_form.html.twig') }}</td>
		</tr>
	</table>


{% endblock %}
